@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #141414;
}

.tooltip-copied::after {
  content: '';
  position: absolute;
  bottom: -6px;
  right: 25px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #27272a; /* Same as tooltip background */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

